<!DOCTYPE html>
<html lang="ja">
<head>
    <title>シェルゲー</title>
    <meta charset="utf-8">
    <script src="/static/assets/js/main.js" type="text/javascript"></script>
    <script src="/static/assets/js/shortcut.js" type="text/javascript"></script>
    <script src="/static/assets/js/modal.js" type="text/javascript"></script>
    <style rel="stylesheet" >
        @import url("/static/assets/css/game.css");
    </style>
</head>
<body>
    <div id="header">
        <div id="modal" class="box">
            <button id="modal-open" class="modal-button">HELP</button>
            <div id="model-rule-explain" class="modal-inner">
                <div class="modal-content">
                    <div class="modal-header"><span>説明</span></div>
                    <div class="modal-body">
                        <span class="heading">ショートカット</span>
                        <p>ctrl+p：ひとつ前のコマンドを表示します。</p>
                        <p>ctrl+n：ひとつ先のコマンドを表示します。</p>
                        <p>ctrl+l ：画面をクリアーします。</p>
                        <span class="heading">ごめんなさい</span>
                        <p style="color: rgb(197, 0, 0);">タブ補完は使えないです。</p>
                        <p>入力できないときは、カーソルをプロンプト横に合わせてください。</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="timer" class="box">
            <p><span id="elapsed-seconds">0</span>/300秒経過</p>
        </div>
        <div id="question" class="box">
            <p>300秒以内に以下の問題を解いてください。</p>
            <ul id="question-list" style="list-style: none;">
            </ul>
        </div>
    </div>
    <div class=main>
        <div class="split">
            <div class="split-item split-left">
                <div>
                    <div class="score">
                        <span>あなたのスコア:</span> <progress id="myScore" max="100" value="0"></progress>
                    </div>
                </div>
                <div class="split-left-inner">
                    <ul class="terminal">
                    </ul>
                </div>
            </div>
            <div class="split-item split-right">
                <div>
                    <div  class="score">
                        <span>あいてのスコア：</span> <progress id="opScore" max="100" value="0"></progress>
                    </div>
                </div>
                <div class="split-right-inner">
                    <ul class="terminal">
                    </ul>
                </div>
            </div>
        </div>
        <div class="answer">
            <div class="input-container ic1">
                <input id="qname" class="input" type="text" placeholder=" " />
                <label for="qname" class="placeholder">問題番号 (例: Q1)</label>
            </div>
            <div class="input-container ic2">
              <input id="answer" class="input" type="text" placeholder=" " />
              <label for="answer" class="placeholder">答え</label>
            </div>
            <input  class="submit" type="button" value="回答を送信" onclick="requestAnswer()">
        </div>
    </div>
</body>
</html>
