<!DOCTYPE html>
<html lang="ja">
<head>
    <title>シェルゲー</title>
    <meta charset="utf-8">
    <style rel="stylesheet" >
        @import url("/static/assets/css/main.css");
    </style>
</head>
<body>
    <header>
        <div id="title">シェルゲー</div>
    </header>
    <div class=main >
        <div id="explain" class="explain-inner">
            <div class="explain-content">
                <div class="explain-header"><span>$こんにちは_</span></div>
                <div class="explain-body">
                    <span class="heading-large">シェルゲーとは？</span>
                    <p>コマンドラインを用いて相手よりも問題を早く解くことを競う対戦型ゲームです。</p>
                    <p>対戦相手と事前にあいことばを共有して、対戦を開始します。</p>
                    <p>対戦相手と違うモードを選択して対戦することができます。</p>
                    <span class="heading-middle">ルール説明</span>
                    <ul>
                        <li>
                            <p>ランダムに表示される問題を3問先に解くことができれば勝利となります。</p>
                        </li>
                        <li>
                            <p>左側のターミナルを操作してください。右側のターミナルは対戦相手のターミナルなので操作できません。</p>
                        </li>
                        <li>
                            <p>ディレクトリ/home/sechacker配下に各問題が用意された問題ディレクトリ(Q01など)があります。</p>
                        </li>
                        <li>
                            <p>問題ディレクトリにある、README.txtを読み問題を解きます。</p>
                        </li>
                    </ul>
                    <br>
                    <span class="heading-large">ゲームモード</span>
                    <ul>
                        <li><a href="./standard">中級モード</a></li>
                            <p>pythonやperl, awkなど一般的なコマンドとスクリプトが利用できます。<p>
                    </ul>
                    <ul>
                        <li><a href="./buildin">上級モード</a></li>
                            <p>bashのビルドインコマンドしか使えません。</p>
                    </ul>
                    <br>
                    <span class="heading-large">ごめんなさい</span>
                    <p>タブ補完できないので気をつけてください。</p>
                    <p>入力できないときは、カーソルをプロンプト横にいい感じに合わせてください。</p>
                    <br>
                    <span class="heading-large">ひとこと</span>
                    <p>遊んでくれてありがとうございます。</p>
                    <p><a href="https://github.com/taise-hub/shellgame">ソースコード</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
