<!DOCTYPE html>
<html lang="ja">
<head>
    <title>シェルゲー</title>
    <meta charset="utf-8">
    <style rel="stylesheet" >
        @import url("/static/assets/css/main.css");
    </style>
</head>
<body>
    <header>
        <div id="title">シェルゲー</div>
    </header>
    <div class=main>
        <div id="explain" class="explain-inner">
            <div class="explain-content">
                <div class="explain-header"><span>$こんにちは_</span></div>
                <div class="explain-body">
                    <span class="heading-large">シェルゲーとは？</span>
                    <p>コマンドラインで問題を解くことを競うゲームサイトです。</p>
                    <p>コマンドラインを学習し始めた方から、コマンドラインの操作力を高めたい方まで利用できます。</p>
                    <br>
                    <span class="heading-large">ゲームモード</span>
                    <ul>
                        <li><a href="./joinbattle">対戦モード</a></li>
                            <p>オンライン対戦型シェルゲーです。</p>
                            <p>自分の名前を決めて、対戦相手とパスワードを共有して、対戦を開始します。</p>
                            <span class="heading-middle">ルール説明</span>
                            <ul>
                                <li>
                                    <p>ランダムに表示される問題を3問先に解くことができれば勝利となります。</p>
                                </li>
                                <li>
                                    <p>左側のターミナルを操作してください。右側のターミナルは対戦相手のターミナルなので操作できません。</p>
                                </li>
                                <li>
                                    <p>ディレクトリ/home/sechacker配下に各問題が用意された問題ディレクトリ(Q1など)があります。</p>
                                </li>
                                <li>
                                    <p>問題ディレクトリにある、README.txtを読み問題を解きます。</p>
                                </li>
                            </ul>
                        <li><a href="./jointimeattack">タイムアタックモード</a></li>
                        <p>一人で遊べるタイムアタックモードです。</p>
                        <p>ニックネームを決めて対戦を開始します。</p>
                        <span class="heading-middle">ルール説明</span>
                        <ul>
                            <li>
                                <p>表示される問題を3問先に解き切る時間を競います。</p>
                            </li>
                            <li>
                                <p>ディレクトリ/home/sechacker配下に各問題が用意された問題ディレクトリ(Q1など)があります。</p>
                            </li>
                            <li>
                                <p>問題ディレクトリにある、README.txtを読み問題を解きます。</p>
                            </li>
                            <li>
                                <p>解き切った時間でランキング登録ができます(予定)</p>
                            </li>
                        </ul>
                    </ul>
                    <br>
                    <span class="heading-large">ごめんなさい</span>
                    <p style="color: rgb(197, 0, 0);">タブ補完は使えないです、ごめんなさい。</p>
                    <p>入力できないときは、カーソルをプロンプト横に合わせてください、ごめんなさい。</p>
                    <br>
                    <span class="heading-large">利用者の皆様へ</span>
                    <p>遊んでくれてありがとうございます。</p>
                    <p>完成度はまだまだだという自負もありますが取り急ぎ公開してみことにしました。そのため至らない点が多くあると思いますが、</p>
                    <p>今後更新していく予定なので暖かい目で見守ってください。</p>
                    <p>バグやツッコミ、要望があればできるだけ改善したいと思っていますので、何かありましたら以下のフォームからお知らせください。</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
