<!DOCTYPE html>
<html lang="ja">
<head>
    <title>対戦</title>
    <meta charset="utf-8">
    <style rel="stylesheet" >
        @import url("/static/assets/css/main.css");
    </style>
</head>
<body>
    <div class="message">
        <form id="battle-form" method="POST" action="/battle">
            <!-- <div>
                <label>
                    <h1>ニックネーム</h1>
                    <input type="text" name="name">
                </label>
            </div> -->
            <div>
                <label>
                    <h1>あいことば</h1>
                    <input type="text" name="room">
                </label>
            </div>
                <input type="hidden" name="mode" value="{{.}}"></input>
                <br>
            <p>入力は英数字でお願いします</p>
            <button type="submit">OK!</button>
        </form>
    </div>
</body>
</html>

<script>
    function onSubmit(token) {
      document.getElementById("battle-form").submit();
    }
</script>